
.map_wrapper {
  display: flex;
  width: 90%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.map_container {
  position: relative;
  /* 边框渐变 */
  border: 10px solid;
  border-image: linear-gradient(to right, #a4c45e, #a4c45e) 1;
}

.map {
  border-collapse: collapse;
  background-color: rgb(58, 64, 55);
  border-spacing: 0;
  table-layout: fixed;
}

.map .row {
  border: .5px solid #ccc; 
}

.map .cell {
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border: .5px solid #ccc;
}